
{%extends "library/base.html"%}
{% load my_tags %}  
{%block content %}  
<div class="container mt-2">
    <h1 style="font-family: myFirstFont; text-transform:uppercase; color: #009900;">Detalhes</h1>
    
    <img   src="imgs/hrtop.png" alt="" width="100%">
    <table class="table table-borderless " >
        <tr style="border-bottom: 1px solid rgb(241, 200, 200); ">
            <th class="text-right row-width" scope="row">Aluno:</th>
            <td ><span style="margin-right: 100px;">dfsdsfgfds</span><a href="{%url 'update-user' requisition.user.pk%}" style="height: 30px;vertical-align: center;" class="btn btn-danger text-center text-white">Detalhes</a></th>

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Data de requisição:</th>
            <td >mojemilosc@hotmail.com</th>
            

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Data limite:</th>
            <td >Agnieszka Bernaś</th>

        </tr>
        
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Estado:</th>
            <td >25</th>

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Descrição:</th>
            <td >Uma noite ao luar</th>

        </tr>
        

     </table>       
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Agnieszka Bernaś tomou conhecimento da data de entrega e das consequentes penalizações.</label>
        
    </div>
    <button type="confirmar" class="btn text-white mt-2" style="background: #b30000;">Confirmar </button>
      
</div>
    



{% endblock content%}