
{%extends "library/base.html"%}
{% load my_tags %}  
{%block content %}  
<div class="container mt-2" style="width:800px">
    <h1 class="title">Detalhes</h1>
    
    
    <table class="table table-borderless " >
        <tr style="border-bottom: 1px solid rgb(241, 200, 200); ">
            <th class="text-right row-width" scope="row">Numero de aluno:</th>
            <td>{{requisition.user.username}}</tdh>

        </tr>

        <tr style="border-bottom: 1px solid rgb(241, 200, 200); ">
            <th class="text-right row-width" scope="row">Nome:</th>
            <td> {{requisition.user.profile.name}} </td>

        </tr>

               <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Email:</th>
            <td> {{requisition.user.email}} </td>

        </tr>

            <tr style="border-bottom: 1px solid rgb(241, 200, 200); ">
            <th class="text-right row-width" scope="row">Código do livro:</th>
            <td> {{requisition.item}} </td>

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200); ">
            <th class="text-right row-width" scope="row">Titulo do livro:</th>
            <td> {{requisition.item.content_object.title}} </td>

        </tr>

        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Data de requisição:</th>
            <td> {{requisition.date|date:" d/m/Y"}} </td>
            

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Data limite:</th>
            <td> {{requisition.deadline|date:" d/m/Y"}} </td>

        </tr>
        
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Estado:</th>



            {% if requisition.state|stringformat:"s" == 'D' %}
            <td>Entregue </td>

            
            {% elif requisition.state|stringformat:"s" == 'OG' %}

            <td>A Decorrer </td>

            {% elif requisition.state|stringformat:"s" == 'DY' %}
            
            <td>Atrasado </td>

            {% endif %}
            







        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Data de Entrega:</th>
            <td> {{requisition.deliverDate|date:" d/m/Y"}} </td>

        </tr>
        <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
            <th class="text-right" scope="row">Notas:</th>
            <td> {{requisition.note}} </td>

        </tr>

     </table>       
   
    <div style="display: flex; justify-content: center;">
      
      <a class="btn btn-normal" style="width:150px" href="{% url 'requisition-home'%}">Cancelar</a>
</div>
      
</div>
    



{% endblock content%}