{%extends "library/base.html"%}
{% load my_tags %}  
{%block content %}  

            <div class="container mt-2">
                <h1 style="font-family: myFirstFont; text-transform:uppercase; color: #009900;">Requisitar Livro</h1>
                <h2 style="font-family: myFirstFont; text-transform:uppercase; color: #006600;">Confirmar Dados</h2>
                <img   src="imgs/hrtop.png" alt="" width="100%">
                <table class="table table-borderless " >
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right row-width" scope="row">Nº do Aluno:</th>
                        <td >{{user.number}}</th>
            
                    </tr>
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right" scope="row">Email:</th>
                        <td >{{user.user.email}}</th>
            
                    </tr>
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right" scope="row">Nome do Aluno:</th>
                        <td >{{user.user.username}}</th>
            
                    </tr>
                    
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right" scope="row">Código do livro:</th>
                        <td >--------</th>
            
                    </tr>
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right" scope="row">Titulo do livro</th>
                        <td >{{book.title}}</th>
            
                    </tr>
                    <tr style="border-bottom: 1px solid rgb(241, 200, 200);">
                        <th class="text-right row-width"  scope="row">Data máxima de Entrega:</th>
                        <td style="vertical-align: middle;">{{end}}</th>    
                    </tr>
            
                 </table>       
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">{{user.username}} tomou conhecimento da data de entrega e das consequentes penalizações.</label>
                <form method="post">
                  {% csrf_token %}
                  
                  
                  {{ form.book.as_hidden }}
                  {{ form.user.as_hidden }}
                  
                  <input type="submit" class="btn text-white mt-2" style="background: #b30000;">
                  <a class="btn text-white mt-2" style="background: #b30000;" href="{% url 'requisition-cancel'%}">Cancelar</a>
                </form>    
                </div>
                  
            </div>

            {% endblock content%}