{%extends "library/base.html"%}

{%block content %}
  
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h1 class=" mb-4 title">Registar</h1>
                <table>{{ form.as_table }}
               
                {{form1.as_table}}</table>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-normal" type="submit">Registar</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Já tem conta?<a class="ml-2" href="#" >Entrar</a>
            </small>
        </div>
    </div>

{% endblock content%}