{%extends "library/base.html"%}

{%block content %}  
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Registar</legend>
                {{form.as_p}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Registar</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Já tem conta?<a class="ml-2" href="#" >Entrar</a>
            </small>
        </div>
    </div>

{% endblock content%}